body {
  background-color: lightgray;
  font-family: Arial;
}
h1 {
  font-family: Kalam;
  font-size: xx-large;
  text-align: center;
  text-decoration: underline;
  color: mediumblue;
  text-shadow: 77px;
  box-shadow: 15px;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 50%; /*wieso wird der nicht ganz rund?*/
}

.topnav {
  background-color: lightskyblue;
  overflow: hidden;
  border-radius: 19px;
}

.topnav a {
  float: left;
  color: white;
  padding: 14px 14px;
  gap: 20px;
  text-align: center;
  height: 15px;
  /*flex nötig?*/
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.topnav a:hover {
  float: left;
  color: mediumblue;
}

.topnav a.default {
  background-color: mediumblue;
  color: lightskyblue;
}

article {
  border: 1px solid mediumblue;
  display: flex;
  gap: 5px; /*macht das iwas?*/
  align-items: center; /*macht das iwas?*/
}

.solid {
  border-top: 1px solid mediumblue;
}

.footer {
  text-align: center;
  font-size: small;
  font-weight: bold;
  align-self: baseline; /*funktioniert iwie nicht, möchte die Fußzeile Ganz unten haben und nicht unterm strich*/
}
